<div id="modal6"  class="uk-modal">
    <div class="uk-modal-dialog">

        <div class="uk-modal-header"><h1>{{"{{"}}  modalTitle {{"}}"}} </h1></div>

        <form class="uk-form uk-form-horizontal">

            <div class="uk-form-row" ng-show="modalAction == 'edit'" >
                <span class="uk-form-label">ID</span>
                <div class="uk-form-controls uk-form-controls-text">
                    <!-- <input type="radio" ng-model="selectedObject.Currency" value="€"> <label for="form-h-r">&euro;</label> -->
                    <!-- <input type="radio" ng-model="selectedObject.Currency" value="$" disabled> <label for="form-h-r">&dollar;</label>
                    &nbsp; -->
                    <!-- <span>({{"{{"}}  selectedObject.OwnerID {{"}}"}}::{{"{{"}}  selectedObject.id {{"}}"}}) </span> -->
                    <input type="text" onClick="this.select();" disabled="disabled" ng-model="selectedObject.Permalink" class="uk-form-width-large"/>
                </div>
            </div>
            <div class="uk-form-row" ng-show="modalAction == 'edit'" >
                <span class="uk-form-label">Timestamp</span>
                <div class="uk-form-controls uk-form-controls-text">
                    <!-- <input type="radio" ng-model="selectedObject.Currency" value="€"> <label for="form-h-r">&euro;</label> -->
                    <!-- <input type="radio" ng-model="selectedObject.Currency" value="$" disabled> <label for="form-h-r">&dollar;</label>
                    &nbsp; -->
                    <span>{{"{{"}}  selectedObject.Created {{"}}"}}</span>
                </div>
            </div>


                <div class="uk-form-row">
                    <label class="uk-form-label" for="form-h-it">Debtor</label>
                    <div class="uk-form-controls">
                        <!--  TODO: create editable / autofill input-->

                        <!-- <div class="uk-autocomplete uk-form" data-uk-autocomplete="{{ .contacts }}">
                            <input type="text" ng-model="selectedObject.Debtor" placeholder="Debtor" class="uk-form-width-large">
                        </div> -->

                        <select ng-model="selectedObject.Debtor" class="uk-form-width-large">
                            {{range $element := .contacts  }}
                                <option value="{{ $element.Name }}">{{ $element.Name }}</option>
                            {{ end }}
                        </select>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="form-h-t">Description</label>
                    <div class="uk-form-controls">
                        <textarea id="form-h-t" ng-model="selectedObject.Description" cols="30" rows="5" placeholder="Description of debt"></textarea>
                    </div>
                </div>

                <div class="uk-form-row">
                    <span class="uk-form-label">Amount</span>
                    <div class="uk-form-controls uk-form-controls-text">
                        <!-- <input type="radio" ng-model="selectedObject.Currency" value="€"> <label for="form-h-r">&euro;</label> -->
                        <!-- <input type="radio" ng-model="selectedObject.Currency" value="$" disabled> <label for="form-h-r">&dollar;</label>
                        &nbsp; -->
                        <input ng-model="selectedObject.Amount" type="number" placeholder="0.00" min="-9999" max="9999" step="0.01" size="5"
                            title="No currency sign and no comma(s) - cents (.##) are optional"/>
                    </div>
                </div>


                <!-- <div class="uk-form-row" ng-show="selectedObject.mode = 'edit'"> -->
                <div class="uk-form-row">
                    <span class="uk-form-label">Paid</span>
                    <div class="uk-form-controls uk-form-controls-text">
                        <label class="uk-margin-small-top"><input type="checkbox" ng-model="selectedObject.Paid"> Paid</label>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label" for="form-h-s">Direction</label>
                    <div class="uk-form-controls">
                        <button class="uk-button uk-button-large" ng-click="debtDirection()">Toggle owes you/you owe</button>
                    </div>
                </div>
            </form>




        <div class="uk-modal-footer">
            <div class="uk-modal-footer uk-text-right">
                        <button type="button" class="uk-button uk-modal-close">Cancel</button>
                        <button type="button" ng-show="modalAction == 'edit'" ng-click="remove(selectedObject)" class="uk-button uk-button-danger">Remove</button>
                        <button type="button" ng-show="modalAction == 'edit'" ng-click="update(selectedObject)" class="uk-button uk-button-primary">Update</button>
                        <button type="button" ng-show="modalAction == 'add'" ng-click="add()" class="uk-button uk-button-primary">Save</button>
            </div>
            <!-- <button type="button" class="uk-button uk-modal-close">Cancel</button> -->
        </div>
    </div>
</div>
